/* custom scroll bar */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body::-webkit-scrollbar,
.table-responsive iframe::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}

body::-webkit-scrollbar-track,
.table-responsive iframe::-webkit-scrollbar-track {
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb,
.table-responsive iframe::-webkit-scrollbar-thumb {
  background: #e4e6ea;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover,
.table-responsive iframe::-webkit-scrollbar-thumb:hover {
  background: #c9c9c9;
}

body.get-location-body {
  font-family: "Inter", sans-serif;
  background: #f0f6ff;
  margin: 0;
}

.d-none {
  display: none;
}

.formdesign {
  width: 100%;
  max-width: 100%;
  background: #f0f6ff;
  border-radius: 5px;
  padding-top:42px;
}

.tabbar-row {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid #e7e9ed;
  background: transparent;
  position: fixed;
  z-index: 9;
  width: 100%;
  top:0;
}

.tablink {
  cursor: pointer;
  padding: 13px 10px;
  color: #758193;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-align: center;
  background-color: #f0f6ff;
}

.tablink.active {
  background: #f0f6ff;
  border-bottom: 1px solid #2592eb;
  color: #2592eb;
}

.tablink:first-child {
  border-left: none;
}
.tabbar-content {
  border: 1px solid #e4e6ea;
  background-color: #f0f6ff;
  border-top: none;
  border-bottom: none;
}
.tabbar-content.active {
  display: block !important;
}

.accordion {
  overflow: hidden;
}

.accordion #candidate-tab,
.accordion #duplicate-tab {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.accordion .accordion-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: #181818;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding: 12px 8px;
}

.accordion .accordion-label::after {
  content: "";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
  background: url(../icons/ico-arrowdown.svg) no-repeat center center;
  background-size: 13px;
}
.accordion #candidate-tab:checked + .accordion-label::after,
.accordion #duplicate-tab:checked + .accordion-label::after {
  transform: rotate(180deg);
}

.accordion .accordion-content {
  max-height: 0;
  transition: all 0.02s;
}
.accordion #candidate-tab:checked ~ .accordion-content,
.accordion #duplicate-tab:checked ~ .accordion-content {
  max-height: 100%;
  padding: 0 8px;
}

.duplicate-profile-block {
  padding: 12px 8px;
}

.form-input-card {
  border-radius: 6px;
  background-color: #fff;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: none;
}

.input-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 12px;
}

.form-input-card .card-title {
  padding: 7px 0px;
  margin-bottom: 2px;
  font-size: 13px;
  line-height: 14px;
  font-weight: 500;
  color: #262626;
  white-space: nowrap;
  border-bottom: none;
  opacity: 0.9;
}

.input-row-grid-four {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 12px;
}
.accordion #candidate-tab:checked ~ .accordion-content .btns{
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
  background-color: #f0f6ff;
  border-top: 1px solid #f0f6ff;
  z-index: 9;
}
.form{
  padding-bottom: 45px;
}
.btns {
  text-align: center;
  padding: 4px 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 18px;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  background: transparent;
  padding: 0.625rem 0.75rem;
  font-size: 14px;
  border-radius: 4px;
  transition: color 0.15s ease-in-out;
  appearance: button;
  margin: 0 3px;
  white-space: nowrap;
  width: 100%;
  max-width: 140px;
}

.btn.btn-primary {
  color: #fff;
  background: #2592eb;
  border-color: #2592eb;
}

.btn.btn-secondary {
  color: #eb6161;
  background: transparent;
  border-color: #eb6161;
}

.btn.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 13px;
  border-radius: 2px;
}

.btns .selected-btn {
  background: #2592eb url(../icons/ico_url.svg) no-repeat 0 0;
  background-size: 14px;
  background-position: 7px;
  padding-left: 30px;
  border-color: #2592eb;
}

.btns .selected-btn:hover {
  background: #2595ec url(../icons/ico_url.svg) no-repeat 0 0;
  background-size: 14px;
  background-position: 7px;
  padding-left: 30px;
  border-color: #2595ec;
}

.btns .rejected-btn {
  background: transparent url(../icons/ico_url-red.svg) no-repeat 0 0;
  background-size: 14px;
  background-position: 7px;
  padding-left: 30px;
}

.btns .rejected-btn:hover {
  background: transparent url(../icons/ico_url-red.svg) no-repeat 0 0;
  background-size: 14px;
  background-position: 7px;
  padding-left: 30px;
}

.submit-btn {
  margin-top: 28px;
  max-width: 90px;
}
.formdesign .form-group {
  margin: 6px 0;
}

.formdesign input[type="text"],
.formdesign input[type="email"],
.formdesign input[type="number"],
.formdesign input[type="date"] {
  width: 100%;
  padding: 11px 10px;
  display: inline-block;
  border: 1px solid #e4e6ea;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  font-size: 14px;
  color: #262626;
}

.formdesign #url[type="text"] {
  color: rgba(37, 146, 235, 0.80);
  border-color: rgba(37, 146, 235, 0.30);
}

.formdesign #lastday[type="date"] {
  appearance: none;
  background: url(../icons/ico-date.svg) no-repeat center right 13px;
  background-size: 16px;
}

.formdesign [type="date"]::-webkit-inner-spin-button {
  display: none;
}

.formdesign [type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.formdesign select {
  width: 100%;
  padding: 11px 10px;
  border: 1px solid #e4e6ea;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  font-size: 14px;
  color: #262626;
  appearance: none;
  background: url(../icons/ico-arrowdown.svg) no-repeat center right 13px;
  background-size: 13px;
}

.formdesign select option[value=""][disabled] {
  display: none;
}

.formdesign textarea {
  min-width: 100%;
  width: 100%;
  padding: 11px 10px;
  border: 1px solid #e4e6ea;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  font-size: 14px;
  resize: auto;
  height: 60px;
  max-height: 90px;
  color: #262626;
}

.form-group label {
  padding-bottom: 6px;
  font-size: 13px;
  color: #758193;
  font-weight: 500;
  display: block;
  white-space: nowrap;
}

.formdesign #val {
  display: none;
}

.form-action-msg-block {
  position: fixed;
  top: 44px;
  left: 1px;
  right: 1px;
  background: #f0f6ff;
  z-index: 9;
  padding: 8px;
  text-align: center;
  margin: 0 auto;
  max-width: max-content;
  width: 100%;
}

#MessageHolder {
  font-size: 14px;
  line-height: 20px;
  color: #2592eb;
  text-align: center;
  width: 100%;
  padding: 0;
}

#urlnotmach,
#formError,
.api-validation-msg {
  font-size: 13px;
  line-height: 16px;
  color: #eb6161;
  text-align: center;
  width: 100%;
  padding: 0;
}

.api-validation-msg {
  color: #262626;
  text-align: left;
  background: #F6FFF4;
  border-radius: 4px;
  line-height: 20px;
}

.api-validation-msg .api-status-label {
  color: #262626;
  text-transform: capitalize;
  min-width: 155px;
  display: inline-block;
  padding: 5px 8px;
  font-weight: 500;
}

.api-validation-msg span.api-status-msg {
  color: #2592eb;
  font-weight: 500;
}

#api-validation hr {
  padding: 0;
  margin: 2px 0;
  border-color: rgba(231, 233, 237, 0.1);
}

.api-validation-msg .api-label {
  color: #758193;
  text-transform: capitalize;
  min-width: 150px;
  display: inline-block;
  padding: 5px 8px;
}

#urlnotmach {
  text-align: center;
}

#api-validation-mailid {
  color: #2592eb;
  background: transparent;
  text-align: center;
}

.table-title {
  display: block;
  color: #181818;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding: 12px 8px 7px;
}

.table-responsive {
  background: #fff;
  padding: 4px;
  margin: 5px 8px;
  border: none;
  border-radius: 6px;
}

.table-responsive iframe {
  height: 274px;
  overflow: auto;
  max-height: 500px;
}

.table-responsive tr:nth-child(even) {
  background-color: #f2f2f2;
}

.loader-container-overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
}

.loader-overlay-inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.loader-overlay-content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader-spinner {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.8);
  border-top-color: #0a58ca;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}