<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta name="description" content="Get Location" />
  <meta name="author" content="GetLocationDemo" />
  <title>Get Location</title>
  <link type="text/css" rel="stylesheet" href="../static/css/style.css" />
</head>

<body class="get-location-body" id="get-location-body">
  <div class="formdesign">
    <div class="tabs-container">
      <div class="tabbar-row">
        <div class="tablink active" data-tab="tabbar1">
          ION Profile Creation Details
        </div>
        <div class="tablink" data-tab="tabbar2">Duplicate Profile Check</div>
        <div class="tablink" data-tab="tabbar3">Mapped Profile Status</div>
      </div>
      <div class="tabbar-content d-none active" id="tabbar1">
        <div class="accordion">
          <input type="checkbox" id="candidate-tab" checked />
          <label class="accordion-label" for="candidate-tab">Candidate's Profile Details</label>
          <div class="accordion-content">
            <form class="form" id="autofillform">
              <div class="form-action-msg-block">
                <div id="MessageHolder"></div>
                <div id="formError" class="error"></div>
                <div id="urlnotmach"></div>
                <div id="api-validation-mailid" class="api-validation-msg"></div>
              </div>
              <div class="form-input-card">
                <div class="card-title">Candidate's Recruitment Details</div>
                <div class="input-row-grid-four">
                  <div class="col">
                    <div class="form-group">
                      <label>Url</label>
                      <input type="text" id="url" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>RRFNumber</label>
                      <input type="text" id="rrfno" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Role/Designation *</label>
                      <input type="text" id="role" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Recruiter's Email ID *</label>
                      <input type="email" id="recruiterEmail" required />
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-input-card">
                <div class="card-title">Candidate's Personal Details</div>
                <div class="input-row">
                  <div class="col">
                    <div class="form-group">
                      <label>Mail Id</label>
                      <input type="email" id="mailId" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Contact Number</label>
                      <input type="text" id="contactnumber" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Current Location</label>
                      <input type="text" id="curlocation" />
                    </div>
                  </div>
                </div>
                <div class="form-group" id="val">
                  <label>Status</label>
                  <input type="text" id="val" />
                </div>
                <div class="input-row">
                  <div class="col">
                    <div class="form-group">
                      <label>Gender</label>
                      <select id="Gender"></select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Marital Status</label>
                      <select id="MaritalStatus"></select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="passport">Passport *</label>
                      <select id="Passport" name="passport"></select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-input-card">
                <div class="card-title">Candidate's Professional Details</div>
                <div class="input-row-grid-four">
                  <div class="col">
                    <div class="form-group">
                      <label>Current Company</label>
                      <input type="text" id="currentcompany" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Current Designation</label>
                      <input type="text" id="designation" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="ctc">CTC *</label>
                      <input type="number" id="ctc" name="ctc" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="ectc">ECTC *</label>
                      <input type="number" id="ectc" name="ectc" />
                    </div>
                  </div>
                </div>
                <div class="input-row-grid-four">
                  <div class="col">
                    <div class="form-group">
                      <label>Skills Basic</label>
                      <input type="text" id="skillsbasic" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Skills Expert</label>
                      <input type="text" id="skillsexpert" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Skills Advance</label>
                      <input type="text" id="skillsadvance" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="skillremark">Skill Remarks *</label>
                      <input type="text" id="skillremark" name="skillremark" />
                    </div>
                  </div>
                </div>
                <div class="input-row">
                  <div class="col">
                    <div class="form-group">
                      <label for="worklocation">Preferred Work Location *</label>
                      <select id="WorkLocation" name="worklocation">
                        <option value="Wfh" label="Permanent Work From Home"></option>
                        <option value="Wfo" label="Permanent Work From Office"></option>
                        <option value="Wfco" label="Permanent Work From Client Office"></option>
                        <option value="WHIo" label="Hybrid at INTECH Office"></option>
                        <option value="WHCo" label="Hybrid at Client Office"></option>
                      </select>
                    </div>
                  </div>
                  <div id="showWfo" class="d-none">
                    <div class="form-group">
                      <label for="citylocation">Location *</label>
                      <select id="CityLocation" name="citylocation"></select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="noticeperiod">Notice Period *</label>
                      <select id="NoticePeriod" name="noticeperiod"></select>
                    </div>
                  </div>
                </div>
                <div class="input-row">
                  <div id="showWfco" class="d-none">
                    <div class="form-group">
                      <label for="remarksloc">Remarks Location *</label>
                      <textarea id="RemarksLoc" value="Remarks Location" name="remarksloc"></textarea>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Gap if any</label>
                      <select id="gap" name="gap"></select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Leave Plan</label>
                      <select id="LeavePlan"></select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Last working day</label>
                      <input type="date" id="lastday" />
                    </div>
                  </div>
                </div>
                <div class="input-full">
                  <div class="col">
                    <div class="form-group">
                      <label for="reasontochange">Previous Organization Summary *</label>
                      <textarea id="reasontochange" name="reasontochange"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="btns">
                <button type="submit" class="btn btn-primary selected-btn actionBtn" id="selectedBtn"
                  value="Profile Selected">
                  Profile Selected
                </button>
                <button type="submit" class="btn btn-secondary rejected-btn actionBtn" id="rejectedBtn"
                  value="Profile Rejected">
                  Profile Rejected
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="tabbar-content d-none" id="tabbar2">
        <div class="duplicate-profile-block">
          <form id="duplicateProfile">
            <div class="form-input-card">
              <div class="input-row">
                <div class="col">
                  <div class="form-group">
                    <label>Mail Id *</label>
                    <input type="email" required id="emailId" />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Contact Number</label>
                    <input type="number" />
                  </div>
                </div>
                <div class="submit-btn">
                  <button type="submit" class="btn btn-primary">
                    Submit
                  </button>
                </div>
              </div>
            </div>
            <div id="api-validation" class="api-validation-msg"></div>
          </form>
        </div>
      </div>
      <div class="tabbar-content d-none" id="tabbar3">
        <div class="table-title">Profile Data</div>
        <div class="table-responsive">
          <!-- <style>
            table {
               font-family: "Inter", sans-serif;
                width:100%;
                border-collapse: collapse;
            }
      
              table th, td {
                text-align: left;
                border: 1px solid #e4e6ea;
                color: #758193;
                font-size: 13px;
                font-weight: 500;
                white-space: nowrap;
                font-family: "Inter", sans-serif;     
                 }
      
              table th {
                color: #262626;
                font-weight: normal;
              }
          </style>
          <table style="border:1px solid #e4e6ea; border-collapse: collapse; text-align: left; white-space: nowrap;" cellpadding="8px">
            <tbody><tr>
                  <th>RecruiterEmail</th>
                  <th>RRFNumber</th>
                  <th>MailId</th>
                  <th>Gender</th>
                  <th>IONProfileCreated</th>
                  <th>LastupdatedDate/Time</th>
              </tr>
              <tr>
                  <td>abc@gmail.com</td>
                  <td>1888</td>
                  <td>johndoe@gmail.com</td>
                  <td>Male</td>
                  <td>Success</td>
                  <td>25/12/2024</td>
              </tr>
            </tbody>
          </table> -->
          <!-- ION_Profile_Creation_Input -->
          <iframe src="https://script.google.com/a/macros/ics-global.in/s/AKfycbymTiK5p72aeRQLmdlmyfufx7q-46b_j3bpSQTMVTxhr_Qw8qSB9QU6dEkxrYAp0Fs_/exec" width="100%" height="500px" scrolling="no" loading="lazy" style="border: none;"></iframe>  
          <!-- ION_Profile_Creation_Input Dev -->
          <!-- <iframe src="https://script.google.com/macros/s/AKfycbwDQ_ZCLHw053pI3JlV76aXQYHz7dBqfSJ-5gD5Raj0XkbDAw3rNvy8NK3Tz0OFqeMDDw/exec" width="100%" height="500px" scrolling="no" loading="lazy" style="border: none"></iframe> -->
            <div id="loaderIframe" class="loader-container-overlay">
              <div class="loader-overlay-inner">
                <div class="loader-overlay-content">
                  <span class="loader-spinner"></span>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div id="loader" class="loader-container-overlay">
    <div class="loader-overlay-inner">
      <div class="loader-overlay-content">
        <span class="loader-spinner"></span>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../static/js/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="../static/js/scripts.js"></script>
</body>

</html>